.nav_dropdown,
.menu {
	display: none;
}

@media screen and (max-width: 720px) {
	nav {
		justify-content: flex-end;
	}

	#intro {
		padding: 0 2rem;
	}

	.nav_button {
		display: none;
	}

	.menu {
		display: block;
		text-align: center;
	}

	.menu:active,
	.menu:hover,
	.dropdown_item:hover {
		background-color: white;
		color: black;
		transform: scale(1.1);
	}

	.cover {
		font-size: 1.8rem;
	}

	.nav_dropdown {
		position: fixed;
		bottom: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: black;
		color: wheat;
		text-decoration: none;
		transition: all 0.5s;
		opacity: 0.95;
	}

	#fact {
		width: 80%;
	}

	.fact_body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.fact_image {
		width: 100%;
	}

	.fact_info {
		padding: 2rem 1rem;
	}

	.tour_card {
		width: 80%;
	}

	footer .titles {
		font-size: 2rem;
	}

	footer a {
		font-size: 1.3rem;
	}
}

.test {
	background: url(../image/menu.svg) no-repeat;
}

.hide {
	transform: translatey(100%);
}

@media screen and (min-width: 1080px) {
	.tour {
		width: 95vw;
	}

	.tour_card {
		width: 30%;
	}
}
